@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<asp-tipping asp-url-alipay="http://118.25.101.147/static/images/qr/zfb.jpg" asp-url-wechat="http://118.25.101.147/static/images/qr/zfb.jpg"></asp-tipping>
<asp-page-views></asp-page-views>

<asp-video-player asp-hd-url="https://media.w3.org/2010/05/sintel/trailer.mp4"
                  asp-sd-url="https://media.w3.org/2010/05/sintel/trailer.mp4"></asp-video-player>