
@{
    ViewData["Title"] = "商品列表";
}
@model List<LayUIDataGridItem>

<layui-data-grid items="@Model"></layui-data-grid>
@section scripts{
    <script>
    var items =@Html.Raw(Json.Serialize(Model));

    var para = {
        opts: [
            {
                name: '编辑', cb: function ($,form, container, data) {
                    $("input[name='kind']", container).val(data.kind);
                    $("#selInstructorId", container).val(data.instructorId);
                    $("input[name='isOpen']", container).val(data.isOpen);
                    $("input[name='isRecommended']", container).val(data.isRecommended);
                    $("input[name='courseGoals']", container).val(data.courseGoals);
                    $("input[name='title']", container).val(data.title);
                    $("input[name='name']", container).val(data.name);
                    $("input[name='price']", container).val(data.price);
                    $("input[name='introduction']", container).val(data.introducation);
                    $("input[name='imgUrl']", container).val(data.imgUrl);
                    $("input[name='targetCustomers']", container).val(data.targetCustomers);
                }},
        ],
        cols: [
             { field: 'uname', title: '用户名', width: 120}
            , { field: 'pwd', title: '密码', width: 120 }
            , { field: 'email', title: '邮箱', width: 120 }
            , { field: 'phone', title: '电话', width: 120 }
            , { field: 'mobile', title: '手机', width: 120 }
            , {
                field: 'avatar', title: '头像', width: 160, templet: function (d) {
                    return '<div class="layer-photos-avatar" style="cursor:pointer;">'
                        + '<img layer-pid="' + d.imgUrl + '"  layer-src="' + d.imgUrl + '" src="' + d.imgUrl + '" alt="图片名">'
                        + '</div>';
                }
            }
            , { field: 'islocked', title: '是否锁定', width: 100, templet: function (d) { return d.isOpen == 1 ? '<span class="layui-badge layui-bg-green">免费</span>' : '<span class="layui-badge layui-bg-orange">收费</span>'; } }
            , { field: 'salt', title: '盐', width: 80 }
            , { field: 'allowLoginTime', title: '允许登录时间', width: 80 }
            , { field: 'lastLoginTime', title: '最后登录时间', width: 80 }
            , { field: 'loginErrNums', title: '登录错误次数', width: 100, templet: function (d) { return d.isOpen == 1 ? '<span class="layui-badge layui-bg-green">免费</span>' : '<span class="layui-badge layui-bg-orange">收费</span>'; }  }
            , { field: 'lastLoginIP', title: '最后登录ip地址', width: 120, templet: function (d) { return d.isRecommended == 1 ? '<span class="layui-badge layui-bg-green">是</span>' : '<span class="layui-badge layui-bg-orange">还不是</span>'; }  }
            , { field: 'lastLogoutTime', title: '最后登出时间', width: 80, templet: function (d) { return d.isDel == 1 ? '<span class="layui-badge layui-bg-orange">下架</span>' : '<span class="layui-badge layui-bg-green">上架</span>'; }  }
            , { field: 'dataStatus', width: 300, title: '数据状态' }
        ]
    };
    dataGrid.init(para);
    </script>
}
